/.checkstyle
/.classpath
/.project
/.settings/
/.springBeans
/.factorypath
/.apt_generated
/.DS_Store
.\.log
/target/
*.iml
/.idea
.idea\*
/.pmd
/test-output/
/src/test/wiki/FitNesseRoot/**/**/*.zip
/src/test/wiki/FitNesseRoot/**/*.zip
/src/test/wiki/FitNesseRoot/files/testResults/*.xml
/src/test/wiki/FitNesseRoot/files/testResults/**/*.xml
/src/test/wiki/FitNesseRoot/.gitattributes
/src/test/wiki/FitNesseRoot/files/testResults/**
/src/test/wiki/fitnesse-standalone.jar
/src/test/wiki/fixtures/**
/src/test/wiki/plugins/**
/src/test/wiki/webdrivers/*
/src/test/wiki/webdrivers/**
/maven-central-deploy.log
/maven-central-deploy.sh~
